@import "~bootstrap/scss/bootstrap.scss";

body{
    height: 100vh;
}

.body, .container, .pedestrian-light, .pedestrian-sign{
    display: flex;
    justify-content: center;
}

.lineHandle{
    background: black;
    width: 20px;
    height: 100px;
    margin: auto;
}

.lineHandle, .container, .pedestrian-sign, .pedestrian-light-pole, .pole-base{
    background: black;
}

.container{
    height: 210px;
    width: 80px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.red, .yellow, .green{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.red{
    background: red;
    &.selected{
        box-shadow: 0 0 10px 10px rgb(231, 145, 145);
    }
}

.yellow{
    background: yellow;
    margin: 5px 0;
    &.selected{
        box-shadow: 0 0 10px 10px rgb(223, 223, 166);
    }
}

.green{
    background: green;
    &.selected{
        box-shadow: 0 0 10px 10px rgb(162, 233, 162);
    }
}

.traffic-light{
    position: relative;
    right: 100px;
}

.pedestrian-light{
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 150px;
    top: 40px;
}

.pedestrian-sign{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    align-items: center;
}

.pedestrian-light-pole{
    width: 20px;
    height: 200px;
}

.pole-base{
    width: 150px;
    height: 60px;
}

.stop, .walk{
    font-size: 50px; 
    color: white;
}