@import "~bootstrap/scss/bootstrap.scss";

body{
    height: 100vh;
}

.body, .container{
    display: flex;
    justify-content: center;
}

.lineHandle{
    background: black;
    width: 10px;
    height: 100px;
    margin: auto;
}

.lineHandle, .container{
    background: black;
}

.container{
    height: 210px;
    width: 80px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.red, .yellow, .green{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
    margin: 5px 0;
}

.green{
    background: green;
}

.red.selected{
    box-shadow: 0 0 10px 10px rgb(231, 145, 145);
}

.yellow.selected{
    box-shadow: 0 0 10px 10px rgb(226, 226, 114);
}

.green.selected{
    box-shadow: 0 0 10px 10px rgb(162, 233, 162);
}
